@import "color.css";

.folder-content {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  color: var(--cnps-black);
  transition: background-color 0.15s ease;
}

.folder-content:hover {
  color: var(--cnps-red);
}

.inline-icon {
  vertical-align: middle;
}

.folder-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  align-items: center;
  font-size: 14px;
}

.folder-treeitem {
  padding-left: 5px;
  display: none;
}

.folder-node {

}

.folder-anchor {
  padding-left: 5px;
  text-decoration: none;
  cursor: pointer;
}