@import "color.css";

html,
body {
  height: 100%;
  color: var(--cnps-black);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--cnps-background-color);
}

@media (min-width: 1px)and (max-width: 991.98px) {
  body:not([data-sidebar-position=right]) .main-L-box {
    margin-right: -290px;
  }

  body:not([data-sidebar-position=right]) .main-R-box {
    width: auto;
    border-radius: 1rem 1rem 1rem 1rem;
  }
}

.main {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  background-color: var(--cnps-black);
  box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.1);
  margin: auto;
  white-space: nowrap;
}

.main-L-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cnps-real-white);
  width: 75%;
  padding: 3rem 3rem;
  text-align: left;
  direction: ltr;
  transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out;
}

.main-R-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cnps-black);
  background-color: var(--cnps-real-white);
  border-radius: 0 1rem 1rem 0;
  width: 60%;
  height: 100%;
  padding: 3rem 3rem;
  transition: border-radius .35s
}

.form-login {
  width: 100%;
  max-width: 30rem;
  margin: 3rem auto;
}

.trans {
  background-color: transparent;
}

.black {
  color: black;
}

.white {
  color: #F2F2F2;
}

.form-control-trans {
  width: 100%;
  padding: 0.5rem;
  color: rgba(192, 193, 199);
  border: solid darkgrey;
  border-radius: 0.5rem;
  background-color: transparent;
}
.logo-box{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.logo{
  border-radius: 10px;
  box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.1);
}

.contect-us{

}

.button{
  color: #F2F2F2;
  background-color: #2F3336;
  transition: background-color 0.15s ease;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}

.button:hover {
  color: #2F3336;
  background-color: #F2F2F2;
}

.abutton{
  transition: background-color 0.15s ease;
  color: #2F3336;
  text-decoration: none;
}

.abutton:hover{
  color: #939393;
}

.abutton-red{
  transition: background-color 0.15s ease;
  color: #939393;
  text-decoration: none;
}

.abutton-red:hover{
  color: orangered;
}