<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/" lang="">
  <head>
    <link rel="icon" href="/img/logo.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <Link href="/css/index.css" rel="stylesheet">
    <script src="/js/signup.js"></script>

    <title>CNPS browser</title>
  </head>

  <body class="container">
    <main class="main">
      <th:block th:replace="~{modal/index :: Modal('signup', '사용자 요청')}"></th:block>

      <div class="main-L-box">
        <h2 style="font-weight: lighter">환영합니다! 👋</h2>
        <br>
        <span style="font-weight: bolder; font-size: x-large">클라우드 서비스</span>
        <h1 style="font-weight: bold; font-size: 3.5rem; margin: 0">CNPS</h1>
        <br>
        <p style="font-weight: lighter; font-size: x-large">
          언제 어디서든<br>
          <strong style="font-weight: bold;">미디어 자산</strong>을 관리하고,<br>
          <strong style="font-weight: bold;">컨버팅</strong>하여<br>
          <strong style="font-weight: bold;">어도비 프리미어</strong>로<br>
          편집 환경을 경험하세요.<br>
        </p>
        <br>
        <strong style="font-weight: lighter;">서비스</strong>
        <span>∙ 유저 시스템</span>
        <span>∙ 미디어 메타데이터 관리 시스템</span>
        <span>∙ 미디어 컨버팅 시스템</span>
        <span>∙ 클라우드 자산 미디어 프리미어 프로 연동</span>
        <hr>
        <span style="color: var(--cnps-dark-red)">프리미어 플러그인 설치</span>
        <span style="color: #939393; font-weight: lighter; font-size: small">프리미어 버전은 22.5.0(Build 62)입니다.</span>
        <div class="text-lg-start">
          <a type="button" class="abutton-red">WINDOWS 바로가기</a>
          <span class="abutton-red" style="font-weight: lighter;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
          <a type="button" class="abutton-red">MAC 바로가기</a>
        </div>
      </div>

      <div class="main-R-box">
        <div class="logo-box">
          <img src="/img/logo.png" class="logo" alt="logo" width="100" height="100"> &nbsp;
          <br>
          <strong>Cloud Network Production System</strong>
        </div>

        <form action="/auth/login" class="form-login" method="post">
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${version}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div class="mb-3">
            <input class="form-control-trans"
                   type="text"
                   id="account"
                   name="account"
                   placeholder="아이디를 입력하세요"
                   required><br>
          </div>

          <div class="mb-3">
            <input class="form-control-trans"
                   type="password"
                   id="password"
                   name="password"
                   placeholder="비밀번호를 입력하세요"
                   required><br>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> 아이디 기억하기
            </label>
          </div>

          <button class="button"
                  type="submit">로그인
          </button>
        </form>

        <div class="text-center">
          <a type="button" class="abutton" data-bs-toggle="modal" data-bs-target="#signup">
            비밀번호 찾기
          </a>
          <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
          <a type="button" class="abutton" data-bs-toggle="modal" data-bs-target="#signup">
            사용자 신청
          </a>
        </div>
      </div>
    </main>

    <div class="contect-us text-center">
      <strong>문의는 아래의 연락망으로 연락주세요.</strong>
      <p>Email: dogineer.dev@gmail.com | Tel : 010-6606-1698</p>
    </div>
  </body>
</html>