<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.develop.web.domain.auth.mapper.AuthMapper">

    <insert id="insertUser" parameterType="User">
        insert
        into user(USERID, NAME, PHONE, EMAIL, DEPARTMENT, ROLE, DESCRIPTION, PASSWORD)
        values (#{userid}, #{name}, #{phone}, #{email}, #{department}, #{role}, #{description}, #{password})
    </insert>
    
    <select id="selectByUser" resultType="User" parameterType="User">
        SELECT userid, name, password, role, access
        FROM user
        where userid = #{userid}
    </select>

    <select id="selectByUserid" resultType="User" parameterType="String">
        SELECT userid, name, phone, email, department, role, access, description, join_date as joinDate, password
        FROM user
        WHERE userid = #{userid}
    </select>

    <update id="updatePassword" parameterType="String">
        UPDATE USER SET PASSWORD = #{chagepassword} WHERE USERID = #{userid}
    </update>

    <select id="selectAllList" parameterType="User" resultType="map" >
        SELECT * FROM USER WHERE delete_flag = 0
    </select>

    <update id="updateAccess" parameterType="String">
        UPDATE USER SET ACCESS = #{access} WHERE USERID = #{userid}
    </update>

    <update id="deleteByUser" parameterType="String">
        UPDATE USER SET DELETE_FLAG = 1 WHERE USERID = #{userid}
    </update>
</mapper>