<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.develop.web.domain.auth.mapper.AuthMapper">

    <insert id="insertUser" parameterType="AuthVo">
        insert
        into user(USERID, NAME, PHONE, EMAIL, DEPARTMENT, ROLE, DESCRIPTION, PASSWORD)
        values (#{userid}, #{name}, #{phone}, #{email}, #{department}, #{role}, #{description}, #{password})
    </insert>
    
    <select id="selectByUser" resultType="AuthVo" parameterType="AuthVo">
        SELECT userid, name, password, role, access
        FROM user
        where userid = #{userid}
    </select>

    <update id="updateByUser" parameterType="AuthVo">
        UPDATE USER SET PASSWORD = #{passwordChangeData} WHERE USERID = #{userid}
    </update>

    <select id="selectAllList" parameterType="AuthVo" resultType="map" >
        SELECT * FROM USER
    </select>

    <update id="updateByAccess" parameterType="AuthVo">
        UPDATE USER SET ACCESS = #{access} WHERE USERID = #{userid}
    </update>

    <update id="deleteByUser" parameterType="AuthVo">
        UPDATE USER SET DELETE_FLAG = #{delete_flag} WHERE USERID = #{userid}
    </update>
</mapper>