<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
  <th:block th:if="${session.userid != null}">
    <h1>로그인 성공!</h1>
      <p>현재 로그인한 유저 정보</p>
      <p th:text="${session.userid}"></p>
      <p th:text="${session.role}"></p>

    <div>
      <p>글 작성하기</p>
      <form action="/board/post" method="post">
        <div class="form-group">
          <label for="writer"></label>
          <input hidden="hidden"
                 type="text"
                 id="writer"
                 name= "writer"
                 th:value="${session.userid}">

          <label for="title">제목</label>
          <input type="text"
                 id="title"
                 name= "title"
                 placeholder="제목을 입력해주세요.">

          <label for="content">내용</label>
          <input type="text"
                 id="content"
                 name= "content"
                 placeholder="내용을 입력해주세요.">
        </div>
        <button type="submit">등록</button>
      </form>
    </div>

    <div>
      <form th:action="@{/auth/logout}" method="POST" sec:authorize="isAuthenticated()">
        <button type="submit">로그아웃</button>
      </form>
    </div>

    <div>
      <p>현재 글 목록</p>
      <table>
        <tr>
          <td>writer</td>
          <td>writer</td>
          <td>title</td>
          <td>content</td>
        </tr>
        <tr th:each="item : ${boardList}">
          <td th:text="${item.ID}">No</td>
          <td th:text="${item.WRITER}">writer</td>
          <td th:text="${item.TITLE}">title</td>
          <td th:text="${item.CONTENT}">content</td>
        </tr>
      </table>
    </div>
  </th:block>
</body>
</html>